node_modules
**/node_modules
**/dist
.git
.opencode
*.tgz
opencode-dev
packages/desktop
packages/storybook
packages/enterprise
packages/console
packages/stats
packages/docs
packages/function
packages/identity
packages/containers
